.advantage {

    

    &__title {
        margin-bottom: 10px;

        font-size: var(--fs-h3);
        line-height: @lh-secondary;
        font-weight: @fw-bold;
    }

    &__number {
        display: inline-block;

        margin-bottom: 15px;
    }

    &__header {
        padding: 40px 20px;

        color: @clr-light;
        background-color: @clr-accent;
    }

    &--town header {
        padding-top: 70px;
    }

    &__image-container {
        width: 100%;        
    }

    &__image {
        width: 100%;
        height: 260px;  
        object-fit: cover;
        object-position: center;
    }
    
    &--town {
        position: relative;
    }

    &--town::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 37px;

        background-image: url(../img/advantage-triangle.svg);
        background-position: center top -2px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__list {
        padding: 35px 20px;

        text-align: left;
    }

    &__item {
        position: relative;

        margin-bottom: 30px;
        padding-left: 50px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item-title {
        margin-bottom: 15px;
        font-size: var(--fs-h3);
        font-weight: @fw-bold;
    }

    &--secondary {
        padding: 25px 20px 30px;

        background-color: #eeeeee;
        border-bottom: 1px solid @br-clr-primary;
    }

    &--secondary:last-child {
        border-bottom: none;
    }

    &__item--accommodation::before,
    &__item--souvenirs::before,
    &__item--food::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 40px;

        background-repeat: no-repeat;
    }

    &__item--accommodation::before {
        top: -8px;

        background-image: url(../img/advantage-icon-1.svg);
    }

    &__item--souvenirs::before {
        top: -11px;
        left: 2px;

        background-image: url(../img/advantage-icon-2.svg);
    }

    &__item--food::before {
        left: 0;
        background-image: url(../img/advantage-icon-3.svg);
    }

    
}

@media(min-width: @width-tbl) {
    .advantage {

        &--main {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--town {
            display: grid;
            grid-template-areas:
                "text picture picture"
                "adv  adv     adv";
        }

        &--town::before {
            background-image: none;
        }

        &--bridge {
            display: grid;
            grid-template-areas:
                "picture picture text"
                "adv     adv     adv";
        }
    
        &__image-container {
            grid-area: picture;
        }
    
        &__header {
            grid-area: text;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 10px 20px;
        }

        &--town header {
            padding-top: 0;
        }

        &__number {
            display: inline-block;
    
            margin-bottom: 20px;
        }

        &__image-container {
            max-height: 280px;
        }
    
        &__image {
           height: 100%;
           max-height: 280px;
        }
    
        &__list {
            display: flex;
            justify-content: space-between;
            grid-area: adv;
        }
    }
}