.advantage { 

// Общие стили 
  
    &__header {
        padding: 40px 20px;

        color: @clr-light;
        background-color: @clr-accent;
    }

    &__image-container {
        width: 100%;        
    }

    &__image {
        width: 100%;
        height: 260px;  
        object-fit: cover;
        object-position: center;
    }

    &__title {
        margin-bottom: 10px;

        font-size: var(--fs-h3);
        line-height: @lh-secondary;
        font-weight: @fw-bold;
    }

    &__number {
        display: inline-block;

        margin-bottom: 15px;
    }

// Фоновый треугольник шапки первой особенности

    &__header--town {
        padding-top: 70px;
    }
    
    &--town {
        position: relative;
    }

    &--town::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 37px;

        background-image: url(../img/advantage-triangle.svg);
        background-position: center top -2px;
        background-size: cover;
        background-repeat: no-repeat;
    }

// Список первой особенности

    &__list {
        padding: 35px 20px;

        text-align: left;
    }

    &__item {
        position: relative;

        margin-bottom: 30px;
        padding-left: 50px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item-title {
        margin-bottom: 15px;
        font-size: var(--fs-h3);
        font-weight: @fw-bold;
    }

// Иконки к списку первой особенности

    &__item--accommodation::before,
    &__item--souvenirs::before,
    &__item--food::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 40px;

        background-repeat: no-repeat;
    }

    &__item--accommodation::before {
        top: -8px;

        background-image: url(../img/advantage-icon-1.svg);
    }

    &__item--souvenirs::before {
        top: -11px;
        left: 2px;

        background-image: url(../img/advantage-icon-2.svg);
    }

    &__item--food::before {
        left: 0;
        background-image: url(../img/advantage-icon-3.svg);
    }

// Вторичные особенности

    &--secondary {
        background-color: #eeeeee;       
    }

    &--secondary:last-child &__wrapper {
        border-bottom: none;
    }

    &__wrapper {
        width: 85%;
        margin: 0 auto;
        padding: 25px 0 30px;
        border-bottom: 1px solid @br-clr-primary;
    }
}

@media(min-width: @width-tbl) {
    .advantage {

// Убираем треугольник с шапки первой особенности

        &__header--town {
            padding-top: 0;
        } 

        &--town::before {
            background-image: none;
        }

// Общие стили

        &__image-container {
            grid-area: picture;
        }        
    
        &__header {
            grid-area: text;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 20px 20px;
        }

        &__title {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        &__number {
            display: inline-block;
    
            margin-bottom: 20px;
        }

// Основные особенности 

        &--main {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--town {
            display: grid;
            grid-template-areas:
                "text picture picture"
                "adv  adv     adv";
        }      

        &--bridge {
            display: grid;
            grid-template-areas:
                "picture picture text"
                "adv     adv     adv";
        }

// Список первой особенности 
       
        &__list {
            grid-area: adv;

            display: flex;
            justify-content: space-between;

            padding: 60px 0;
            
            text-align: center;
        }

        &__item {
            margin-bottom: 0;
            padding: 100px 50px 0;
        }

        &__item--accommodation {
            order: 1;
        }

        &__item--souvenirs {
            order: 3;
        }

        &__item--food {
            order: 2;
        }

// Иконки к списку первой особенности 
    
        &__item--accommodation::before,
        &__item--souvenirs::before,
        &__item--food::before {
            content: '';
    
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
    
            width: 80px;
            height: 75px;
    
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    
        &__item--accommodation::before {
            top: 0;

            background-image: url(../img/advantage-icon-1.svg);
            background-size: 75px 72px;
        }
    
        &__item--souvenirs::before {
            top: 0;
            left: inherit;

            background-image: url(../img/advantage-icon-2.svg);
            background-size: 64px 75px;
        }
    
        &__item--food::before {
            left: inherit;

            background-image: url(../img/advantage-icon-3.svg);
            background-size: 77px 68px;
        }   
        
// Вторичные особенности

        &--secondary &__title {
            width: 150px;
        }

        &--secondary {
            padding: 45px 60px;
        }

        &__wrapper {
            width: 100%;

            border-bottom: none;
        }
    }
}

@media(min-width: @width-dsk) {
    .advantage {

        &__header {
            padding: 30px 60px;
        }     

        &__list {
            padding: 60px 0 80px;
        }

        &__item {
            padding: 100px 70px 0;
        }

        &--secondary {
            padding: 40px 55px 60px;
        }
    }
}