.features {
    text-align: center;

    &__title {
        padding: 0 20px;

        font-size: var(--fs-h3);
        font-weight: @fw-bold;        
    }

    &__text {
        padding: 0 20px;
    }
}