.impression {
    padding: 0 20px 40px;

    border: none;
    border-bottom: 1px solid @br-clr-primary;

    &__title {
        font-size: var(--fs-h3);
        font-weight: @fw-bold;
        text-align: center;

        display: table;
        padding: 20px 0 35px;
    }

    &__item {
        margin-bottom: 45px;
        padding-left: 75px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__label {
        position: relative;
    
        font-size: 1.125rem;
        font-weight: @fw-bold;
        text-transform: none;
      }
    
      & input + label::before {   
        position: absolute;
        top: -15px;
        left: -75px;
      }

      & input:checked + label::after {
        position: absolute;
        top: 2px;
        left: -58px;
      }
}

@media(min-width: @width-tbl) {
  .impression {
    padding: 0;
    padding-right: 15px;

    border-bottom: none;

    &__title {
        text-align: left;

        display: table;
        padding: 0;
        padding-bottom: 50px;
    }

    &__list {
        padding-top: 10px;   
    }

    &__item {
        margin-bottom: 48px;
    }
  }
}