.main-nav {
    position: relative;

    display: flex;

    min-height: 55px;
    margin-bottom: 55px;

    font-size: var(--fs-nav);
    line-height: @lh-primary;
    font-weight: @fw-bold;

    &__logo-link {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translate(-50%, 100%);
    }

    &__button {
        position: absolute;
        top: 17px;
        right: 20px;
        
        width: 30px;
        height: 30px;

        background-color: transparent;
        border: none;

        cursor: pointer;
    }

   
    &__button--open {
        display: none;
    }

    &__button--close::before,
    &__button--close::after {
        content: '';

        position: absolute;
        top: 13px;
        left: 1px;

        width: 28px;
        height: 4px;

        background-color: #fff;
    }

    &__button--close::before {  
        transform: rotate(45deg);   
    }

    &__button--close::after {
        transform: rotate(-45deg);
    }

}