// Font
@ff-primary             :"PTSans", "Arial", sans-serif;

// Font Color
@clr-text               :#333333;

//Font-weight 

@fw-reg                  :400;
@fw-bold                 :900;

//Line-height

@lh-primary              :1.5;
@lh-secondary            :1.25;

// Media Thresholds
@width-dsk              : 1200px; 
@width-tbl              : 768px;
@width-mbl              : 320px;

// Main Colors 
@clr-accent             :rgba(129, 179, 210, 1);
@clr-light              :#fff;
@clr-dark               :#000;