.review {

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 45px 20px;
    }

    &__submit {
        width: 280px;
    }

    &__legend {
        display: none;
    }
}

@media(min-width: @width-tbl) {
    .review {

        &__form-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "impression fullname"
                "contacts   contacts"
                "sights     sights"
                "comment    comment";

            padding: 0 60px;
        }

        &__fullname {grid-area: fullname;}

        &__user-contacts {grid-area: contacts;}

        &__impression {grid-area: impression;}

        &__sights {grid-area: sights;}

        &__comment {grid-area: comment;}

        &__bottom {
            flex-direction: row;
            justify-content: space-between;
    
            padding: 60px;
        }
    
        &__submit {
            width: 320px;
        }
    
        &__legend {
            display: inline-block;
        }
    }
}

@media(min-width: @width-dsk) {
    .review {

        &__form-wrapper {
            padding: 0 120px;
        }

        &__bottom {
            flex-direction: row;
            justify-content: space-between;
    
            padding: 60px 120px;
        }
    
        &__submit {
            width: 50%;
        }
    
        &__legend {
            display: inline-block;
        }
    }
}