:root {
  --fs-h1: 1.125rem;
  --fs-h2: 1.3125rem;
  --fs-h3: 1.125rem;
  --fs-nav: 1.125rem;
  --fs-body: 0.875rem;
  --fs-btn: 1.3125rem;
}
@media (min-width: 768px) {
  :root {
    --fs-h1: 1.875rem;
    --fs-h2: 1.875rem;
    --fs-h3: 1.3125rem;
    --fs-nav: 0.875rem;
  }
}
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.7;
  color: #333333;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  padding: 15px 35px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: var(--fs-btn);
  font-weight: 900;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:focus {
  outline: 5px solid #81b3d2;
  outline-offset: 5px;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
}
.text-input {
  border: none;
  padding: 14px 22px;
  font-size: 1.125rem;
  color: black;
  background-color: #f2f2f2;
  border: 4px solid transparent;
}
.text-input:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}
.text-input:focus,
.text-input:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: none;
}
.checkbox + label::before {
  content: '';
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.checkbox:checked + label::after {
  content: '';
  width: 21px;
  height: 13px;
  border-left: 3px solid #333333;
  border-bottom: 3px solid #333333;
  transform: rotate(-45deg);
}
.checkbox:hover + label::before,
.checkbox:focus + label::before {
  background-color: #e5e5e5;
}
.checkbox:active + label::before {
  background-color: #d5d5d5;
}
.checkbox:active:checked + label::after {
  border-color: rgba(51, 51, 51, 0.3);
}
.radio-button + label::before {
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.radio-button:checked + label::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}
.radio-button:hover + label::before,
.radio-button:focus + label::before {
  background-color: #e5e5e5;
}
.radio-button:active + label::before {
  background-color: #d5d5d5;
}
.radio-button:active:checked + label::after {
  background-color: rgba(51, 51, 51, 0.3);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  color: #000;
  font-weight: 900;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  color: #000;
  font-weight: 900;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  color: #000;
  font-weight: 900;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  color: #000;
  font-weight: 900;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}
fieldset,
legend {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.page-header::after {
  content: '';
  display: block;
  width: 100%;
  height: 160px;
  background-image: url('../img/header-text-mobile.svg'), url('../img/header-triangle.svg'), url(../img/back-mobile.jpg);
  background-size: auto, cover, cover;
  background-repeat: no-repeat;
  background-position: center, bottom -1px center, bottom;
}
.page-header--index::after {
  height: 390px;
  background-image: url('../img/header-maintext-mobile.svg'), url('../img/header-triangle.svg'), url(../img/back-mobile.jpg);
  background-position: center, bottom -1px center, top;
}
@media (min-width: 768px) {
  .page-header::after {
    height: 300px;
    background-image: url('../img/header-text-tablet.svg'), url('../img/header-triangle.svg'), url(../img/back-tablet.jpg);
    background-size: auto, 150%, cover;
  }
  .page-header--index::after {
    height: 518px;
    background-image: url('../img/header-maintext-tablet.svg'), url('../img/header-triangle.svg'), url(../img/back-tablet.jpg);
  }
}
@media (min-width: 1200px) {
  .page-header::after {
    background-image: url('../img/header-text-tablet.svg'), url('../img/header-triangle.svg'), url(../img/back-desktop.jpg);
    background-size: auto, 102%, cover;
  }
  .page-header--index::after {
    background-image: url('../img/header-maintext-tablet.svg'), url('../img/header-triangle.svg'), url(../img/back-desktop.jpg);
  }
}
.main-nav {
  position: relative;
  display: flex;
  margin-bottom: 55px;
}
.main-nav__logo-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}
.main-nav__button {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-nav__button--open {
  display: none;
}
.main-nav__button--open::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px #81b3d2, 0 16px #81b3d2;
}
.main-nav__button--close::before,
.main-nav__button--close::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 1px;
  width: 28px;
  height: 4px;
  background-color: #fff;
}
.main-nav__button--close::before {
  transform: rotate(45deg);
}
.main-nav__button--close::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--closed .main-nav__button--close {
    display: none;
  }
  .main-nav--closed .main-nav__button--open {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav {
    margin-bottom: 0;
  }
  .main-nav__logo-link {
    top: 0;
    transform: translate(-50%);
  }
  .main-nav .main-nav__button {
    display: none;
  }
}
.site-list {
  width: 100%;
  font-size: var(--fs-nav);
  line-height: 1.7;
  font-weight: 900;
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
}
.site-list__item {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
}
.site-list__item:first-child {
  border-top: none;
}
.site-list__item:last-child {
  border-bottom: none;
}
.site-list__link {
  display: block;
  padding: 15px 20px;
  color: inherit;
  text-decoration: none;
}
.site-list__link:hover,
.site-list__link:focus {
  background-color: #669ec0;
}
.site-list__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #000;
    text-align: center;
    background-color: #fff;
  }
  .site-list__item {
    width: 20%;
    border-top: none;
    border-bottom: none;
  }
  .site-list__item:nth-child(2) {
    margin-right: 20%;
  }
  .site-list__link {
    display: inline-block;
    padding: 0;
  }
  .site-list__link--active {
    color: #766357;
  }
  .site-list__link:hover,
  .site-list__link:focus {
    color: #81b3d2;
    background-color: transparent;
  }
  .site-list__link:focus {
    outline: 3px solid #81b3d2;
  }
  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
  .site-list__link--active:hover,
  .site-list__link--active:focus {
    color: #604e43;
  }
  .site-list__link--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
.features {
  padding-top: 40px;
  text-align: center;
}
.features__title {
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: var(--fs-h3);
  font-weight: 900;
}
.features__text {
  margin-bottom: 25px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .features {
    padding-top: 45px;
  }
  .features__text {
    margin-bottom: 50px;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
  .features__item--main {
    width: 100%;
  }
  .features__item--secondary {
    width: calc(100% / 3);
  }
}
.advantage__header {
  padding: 40px 20px;
  color: #fff;
  background-color: #81b3d2;
}
.advantage__image-container {
  width: 100%;
}
.advantage__image {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.advantage__title {
  margin-bottom: 10px;
  font-size: var(--fs-h3);
  line-height: 1.25;
  font-weight: 900;
}
.advantage__number {
  display: inline-block;
  margin-bottom: 15px;
}
.advantage__header--town {
  padding-top: 70px;
}
.advantage--town {
  position: relative;
}
.advantage--town::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-image: url(../img/advantage-triangle.svg);
  background-position: center top -2px;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantage__list {
  padding: 35px 20px;
  text-align: left;
}
.advantage__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 50px;
}
.advantage__item:last-child {
  margin-bottom: 0;
}
.advantage__item-title {
  margin-bottom: 15px;
  font-size: var(--fs-h3);
  font-weight: 900;
}
.advantage__item--accommodation::before,
.advantage__item--souvenirs::before,
.advantage__item--food::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.advantage__item--accommodation::before {
  top: -8px;
  background-image: url(../img/advantage-icon-1.svg);
}
.advantage__item--souvenirs::before {
  top: -11px;
  left: 2px;
  background-image: url(../img/advantage-icon-2.svg);
}
.advantage__item--food::before {
  left: 0;
  background-image: url(../img/advantage-icon-3.svg);
}
.advantage--secondary {
  background-color: #eeeeee;
}
.advantage--secondary:last-child .advantage__wrapper {
  border-bottom: none;
}
.advantage__wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 25px 0 30px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .advantage__header--town {
    padding-top: 0;
  }
  .advantage--town::before {
    background-image: none;
  }
  .advantage__image-container {
    grid-area: picture;
  }
  .advantage__header {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
  }
  .advantage__title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .advantage__number {
    display: inline-block;
    margin-bottom: 20px;
  }
  .advantage--main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantage--town {
    display: grid;
    grid-template-areas: "text picture picture" "adv  adv     adv";
  }
  .advantage--bridge {
    display: grid;
    grid-template-areas: "picture picture text" "adv     adv     adv";
  }
  .advantage__list {
    grid-area: adv;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    text-align: center;
  }
  .advantage__item {
    margin-bottom: 0;
    padding: 100px 50px 0;
  }
  .advantage__item--accommodation {
    order: 1;
  }
  .advantage__item--souvenirs {
    order: 3;
  }
  .advantage__item--food {
    order: 2;
  }
  .advantage__item--accommodation::before,
  .advantage__item--souvenirs::before,
  .advantage__item--food::before {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .advantage__item--accommodation::before {
    top: 0;
    background-image: url(../img/advantage-icon-1.svg);
    background-size: 75px 72px;
  }
  .advantage__item--souvenirs::before {
    top: 0;
    left: inherit;
    background-image: url(../img/advantage-icon-2.svg);
    background-size: 64px 75px;
  }
  .advantage__item--food::before {
    left: inherit;
    background-image: url(../img/advantage-icon-3.svg);
    background-size: 77px 68px;
  }
  .advantage--secondary .advantage__title {
    width: 150px;
  }
  .advantage--secondary {
    padding: 45px 60px;
  }
  .advantage__wrapper {
    width: 100%;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .advantage__header {
    padding: 30px 60px;
  }
  .advantage__list {
    padding: 60px 0 80px;
  }
  .advantage__item {
    padding: 100px 70px 0;
  }
  .advantage--secondary {
    padding: 40px 55px 60px;
  }
}
.hotel {
  padding: 30px 20px 50px;
  text-align: center;
}
.hotel__title {
  margin-bottom: 25px;
  font-size: var(--fs-h2);
  font-weight: 900;
}
.hotel__button,
.hotel__text {
  width: 80%;
}
.hotel__text {
  margin: 0 auto 40px;
}
@media (min-width: 768px) {
  .hotel {
    padding: 40px 40px 55px;
  }
  .hotel__text,
  .hotel__button {
    width: 60%;
    max-width: 550px;
  }
}
@media (min-width: 1200px) {
  .hotel {
    padding: 45px 55px 65px;
  }
}
.location__map-wrapper {
  position: relative;
  height: 350px;
}
.location__interactive-map,
.location__map-image {
  width: 100%;
  height: 100%;
}
.location__interactive-map {
  position: absolute;
  top: 0;
  left: 0;
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px 30px;
  background-color: #fefefe;
}
.page-footer__hashtag {
  margin-bottom: 35px;
  font-size: 1.3125rem;
  font-weight: 900;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 60px;
  }
  .page-footer__hashtag {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 35px 120px;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 180px;
  margin-bottom: 40px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:focus {
  outline: 5px solid #81b3d2;
  outline-offset: 5px;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    margin-bottom: 0;
  }
}
.copyright {
  display: flex;
  align-items: center;
}
.copyright__link {
  display: flex;
  margin-left: 10px;
}
.copyright__link:hover svg path,
.copyright__link:focus svg path {
  fill: #81b3d2;
}
.copyright__link:active svg path {
  fill: rgba(118, 99, 87, 0.3);
}
@media (min-width: 768px) {
  .copyright__link {
    margin-bottom: 0;
  }
}
.page-container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .page-container {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}
.page-main__introduction {
  padding: 35px 20px 25px;
  text-align: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.page-main__title {
  margin-bottom: 25px;
  font-size: var(--fs-h1);
  font-weight: 900;
}
@media (min-width: 768px) {
  .page-main__introduction {
    width: 80%;
    margin: 0 auto;
    padding: 70px 60px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .page-main__introduction {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .gallery {
    max-width: 900px;
    margin: 0 auto;
  }
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    max-width: 100%;
  }
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}
.photo {
  padding: 20px 0 15px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}
.photo__image-container {
  width: 100%;
}
.photo__image-container img {
  width: 100%;
}
.photo__description {
  width: 100%;
  padding-top: 15px;
}
.photo__title {
  font-weight: 900;
}
.photo__author {
  color: #333333;
  text-transform: initial;
}
.photo__likes {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.photo__like-count {
  margin-left: 10px;
  font-weight: 900;
}
.photo__like-button {
  width: 25px;
  height: 25px;
  background-image: url('../img/like-icon-dark.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
@media (min-width: 768px) {
  .photo {
    padding: 0;
    border-bottom: none;
  }
  .photo--main {
    grid-column-end: -1;
    grid-column-start: 1;
  }
  .photo__wrapper {
    max-width: 100%;
    padding: 0;
  }
  .photo__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  .photo:nth-child(2n + 3) .photo__description {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .photo {
    position: relative;
  }
  .photo__description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(129, 129, 129, 0.3);
  }
  .photo:nth-child(2n + 3) .photo__description {
    background-color: rgba(129, 129, 129, 0.3);
  }
  .photo__author {
    color: inherit;
  }
  .photo__like-button {
    background-image: url('../img/like-icon-light.svg');
  }
}
.video {
  padding: 35px 0 45px;
}
.video__title,
.video__text {
  padding: 0 20px;
  text-align: center;
}
.video__title {
  margin-bottom: 25px;
  font-size: var(--fs-h1);
  font-weight: 900;
}
.video__text {
  margin-bottom: 35px;
}
.video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__image-container {
  width: 100%;
}
.video__image {
  width: 100%;
}
.video__controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 25px;
  background-color: #f2f2f2;
}
.video__scroll {
  position: absolute;
  bottom: 74px;
  left: 0;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: rgba(0, 0, 0, 0.6);
}
.video__range {
  display: block;
  width: calc(100% - 60px);
  margin: 0 auto;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}
.video__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.video__range::-ms-track {
  width: 100%;
  color: transparent;
  cursor: pointer;
  border-color: transparent;
}
.video__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.video__range::-moz-range-thumb {
  height: 9px;
  width: 9px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.video__range::-ms-thumb {
  height: 9px;
  width: 9px;
  margin-top: -1px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.video__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__range::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__range::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__range::-ms-fill-lower {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__button--repeat {
  margin-right: auto;
}
.video__button {
  background-color: transparent;
  border: none;
}
.video__button svg path,
.video__button svg g {
  fill: #5c6870;
}
.video__button--subtitles {
  margin-right: 30px;
}
.video__button:hover .video__icon path,
.video__button:hover .video__icon polygon,
.video__button:focus .video__icon path,
.video__button:focus .video__icon polygon {
  fill: #000000;
}
.video__button:active .video__icon path,
.video__button:active .video__icon polygon {
  fill: #b8b8b8;
}
@media (min-width: 768px) {
  .video {
    padding: 60px 60px 40px;
  }
  .video__title,
  .video__text {
    width: 60%;
    padding: 0;
    margin: 0 auto;
  }
  .video__title {
    margin-bottom: 20px;
  }
  .video__text {
    margin-bottom: 70px;
  }
  .video__wrapper {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
  }
  .video__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .video__scroll {
    position: static;
    flex-grow: 1;
    width: auto;
    background-color: transparent;
    order: 2;
  }
  .video__range {
    width: 100%;
  }
  .video__button svg path,
  .video__button svg g {
    fill: #ffffff;
  }
  .video__button--repeat {
    order: 1;
    margin-right: 40px;
  }
  .video__button--subtitles {
    margin-left: 40px;
    order: 3;
  }
  .video__button--fullscreen {
    order: 4;
  }
  .video__button:hover .video__icon path,
  .video__button:hover .video__icon polygon,
  .video__button:focus .video__icon path,
  .video__button:focus .video__icon polygon {
    fill: rgba(255, 255, 255, 0.6);
  }
  .video__button:active .video__icon path,
  .video__button:active .video__icon polygon {
    fill: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1200px) {
  .video__title,
  .video__text {
    width: 50%;
  }
  .video__wrapper {
    max-width: 900px;
  }
}
.fullname {
  padding: 0 20px 25px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.fullname__title {
  font-size: var(--fs-h3);
  font-weight: 900;
  text-align: center;
  display: table;
  padding: 20px 0;
}
.fullname__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.fullname__item:last-child {
  margin-bottom: 0;
}
.fullname__label {
  margin-right: 15px;
  color: #333333;
}
.fullname__field {
  width: 100%;
}
@media (min-width: 768px) {
  .fullname {
    padding: 0;
    padding-left: 15px;
    border-bottom: none;
  }
  .fullname__title {
    text-align: left;
    padding: 0;
    padding-bottom: 50px;
  }
  .fullname__item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .fullname {
    padding-left: 100px;
  }
}
.user-contacts {
  padding: 0 20px 25px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.user-contacts__title {
  font-size: var(--fs-h3);
  font-weight: 900;
  text-align: center;
  display: table;
  padding: 20px 0;
}
.user-contacts__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.user-contacts__item::before,
.user-contacts__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 57px;
  height: 57px;
}
.user-contacts__item::before {
  background-color: #e6e6e6;
}
.user-contacts__item::after {
  background-repeat: no-repeat;
  background-position: center;
}
.user-contacts__item--phone::after {
  background-image: url('../img/phone-icon.svg');
}
.user-contacts__item--mail::after {
  background-image: url('../img/mail-icon.svg');
}
.user-contacts__item:last-child {
  margin-bottom: 0;
}
.user-contacts__label {
  margin-bottom: 15px;
  padding-left: 20px;
  color: #333333;
}
@media (min-width: 768px) {
  .user-contacts {
    padding: 0;
    margin-top: 75px;
    border-bottom: none;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
  }
  .user-contacts__title {
    padding: 0 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .user-contacts__title {
    margin-bottom: 70px;
  }
  .user-contacts__list {
    display: flex;
    justify-content: space-between;
  }
  .user-contacts__item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }
  .user-contacts__item--phone {
    margin-right: 80px;
  }
  .user-contacts__label {
    white-space: nowrap;
    margin-right: 15px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .user-contacts__label span {
    display: none;
  }
  .user-contacts__field {
    width: 315px;
  }
}
.impression {
  padding: 0 20px 40px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.impression__title {
  font-size: var(--fs-h3);
  font-weight: 900;
  text-align: center;
  display: table;
  padding: 20px 0 35px;
}
.impression__item {
  margin-bottom: 45px;
  padding-left: 75px;
}
.impression__item:last-child {
  margin-bottom: 0;
}
.impression__label {
  position: relative;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: none;
}
.impression input + label::before {
  position: absolute;
  top: -15px;
  left: -75px;
}
.impression input:checked + label::after {
  position: absolute;
  top: 2px;
  left: -58px;
}
@media (min-width: 768px) {
  .impression {
    padding: 0;
    padding-right: 15px;
    border-bottom: none;
  }
  .impression__title {
    text-align: left;
    display: table;
    padding: 0;
    padding-bottom: 50px;
  }
  .impression__list {
    padding-top: 10px;
  }
  .impression__item {
    margin-bottom: 48px;
  }
}
.sights {
  padding: 0 20px 40px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.sights__title {
  font-size: var(--fs-h3);
  font-weight: 900;
  text-align: center;
  line-height: 1.25;
  display: table;
  padding: 20px 0 35px;
}
.sights__item {
  margin-bottom: 45px;
}
.sights__item:last-child {
  margin-bottom: 0;
}
.sights__label {
  position: relative;
  padding-left: 75px;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: none;
}
.sights input + label::before {
  position: absolute;
  top: -15px;
  left: -1px;
}
.sights input:checked + label::after {
  position: absolute;
  top: 3px;
  left: 17px;
}
@media (min-width: 768px) {
  .sights {
    margin-top: 50px;
    padding: 0;
    border-bottom: none;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
  }
  .sights__title {
    width: 50%;
    margin-bottom: 55px;
    padding: 0 60px;
  }
  .sights__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .sights__item {
    width: 50%;
    margin-bottom: 65px;
    padding-left: 75px;
  }
  .sights__item:last-child,
  .sights__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .sights__item {
    width: 20%;
    margin-bottom: 0;
    padding-left: 0;
  }
}
.comment {
  padding: 0 20px;
  border: none;
}
.comment__title {
  font-size: var(--fs-h3);
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  display: table;
  padding: 25px 0 15px;
}
.comment__field {
  width: 100%;
  height: 160px;
  padding: 15px;
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .comment {
    padding: 0;
    margin-top: 80px;
    border: none;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
  }
  .comment__title {
    margin-bottom: 55px;
    padding: 0 60px;
  }
}
.review__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px;
}
.review__submit {
  width: 280px;
}
.review__legend {
  display: none;
}
@media (min-width: 768px) {
  .review__form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "impression fullname" "contacts   contacts" "sights     sights" "comment    comment";
    padding: 0 60px;
  }
  .review__fullname {
    grid-area: fullname;
  }
  .review__user-contacts {
    grid-area: contacts;
  }
  .review__impression {
    grid-area: impression;
  }
  .review__sights {
    grid-area: sights;
  }
  .review__comment {
    grid-area: comment;
  }
  .review__bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
  }
  .review__submit {
    width: 320px;
  }
  .review__legend {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .review__form-wrapper {
    padding: 0 120px;
  }
  .review__bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 120px;
  }
  .review__submit {
    width: 50%;
  }
  .review__legend {
    display: inline-block;
  }
}
.modal-failure {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  padding: 40px 20px 35px;
  text-align: center;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.modal-failure__title {
  margin-bottom: 25px;
  font-size: var(--fs-h1);
  font-weight: 900;
  line-height: 1.25;
}
.modal-failure__text {
  margin-bottom: 25px;
  color: #333333;
}
.modal-failure__button {
  width: 50%;
}
@media (min-width: 768px) {
  .modal-failure {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 430px;
    margin: 0 auto;
    padding: 55px 20px 50px;
  }
  .modal-failure__button {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .modal-failure {
    width: 35%;
  }
}
.modal-success {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.modal-success__top {
  padding: 45px 45px 35px;
}
.modal-success__title {
  margin-bottom: 25px;
  font-size: var(--fs-h1);
  font-weight: 900;
  line-height: 1.25;
}
.modal-success__text {
  color: #333333;
}
.modal-success__bottom {
  padding: 20px;
  background-color: #f2f2f2;
}
.modal-success__button {
  width: 50%;
}
@media (min-width: 768px) {
  .modal-success {
    width: calc(100% - 120px);
    max-width: 850px;
  }
  .modal-success__top {
    padding: 60px 90px 35px;
  }
  .modal-success__bottom {
    padding: 45px 90px;
  }
  .modal-success__button {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .modal-success {
    width: 50%;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay--open {
  display: block;
}
.modal {
  display: none;
}
.modal--open {
  display: block;
}
